@model Product

<div class="card">
    <h5 class="card-header">Are you sure</h5>
    <div class="card-body">
        <h5 class="card-title">@Model.NameAr</h5>
        <p class="card-text">@Model.Price</p>
    </div>
    <div class="card-footer">
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Delete</button>
            <a asp-action="Index" class="btn btn-secondary">Cancel</a>
        </form> 
</div>