@using Microsoft.Extensions.Localization
@using SimpleProject.Resources
@using SimpleProject.ViewModels.Products
@inject IStringLocalizer<SharedResources> _SharedResources;
@model IEnumerable<GetProductListViewModel>

<partial name="_Notifications"></partial>

    <h1 class="text-center">Product List</h1>
    <div >
    <p>
        <a asp-action="Create" asp-controller="Product" class="btn btn-primary">Create New Product</a>
    </p>
    <div class="d-flex">
        <div>
            <form asp-action="Index" method="get">
                <input id="search" name="search" type="text" placeholder="search ...." value="@ViewBag.CurrentSearch" />
                <input type="submit" value="search" />
            </form>
            <div>
                <div>
                    <input id="searchtext"  type="text" placeholder="search using  ...." value="@ViewBag.CurrentSearch" />
                </div>
            </div>
            </div>
    </div>
    
    <div id="productData">
    @await Html.PartialAsync("_ProductList", Model)
    </div>

    <script>
         $(document).ready(function () {
            $("#searchtext").on('input', function () {
                var searchString = $(this).val().toLowerCase();
                $.ajax({
                   url: '@Url.Action("SearchProductList", "Product")',
                        type: "GET",
                          data: {searchText: searchString},
                            success: function (result) {
                                $("#productData").html(result);
                               }
                })
                      })
                         })
                
    </script>



    @* @section Scripts{
    <script src="~/lib/bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.esm.js"></script>
    } *@