@model Product

<div>
    <form asp-action="Update" method="post" enctype="multipart/form-data">
    <div>
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div>
        <label>Price</label>
            <input asp-for="Price" class="form-control"/>
        <span asp-validation-for="Price" class="text-danger" ></span>
    </div>
        <div>
            <label>Current Image</label>
            <img src="@Model.Path" alt="Current Image" style="max-width: 50px; max-height: 50px;" />
            <input type="hidden" asp-for="Path" />
        </div>
        <div>
            <label>File</label>
            <input asp-for="File" class="form-control" />
            <span asp-validation-for="File" class="text-danger"></span>

        </div>
    <div>
            <input type="submit" value="Update" class="btn btn-primary" />
    </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScript");
    }
}